# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Fanap Campus\JPA_HIB\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
